.header{
    width:1280px;
    height:120px;
}
.text1{
    padding-left:45px;
    padding-top: 30px;
}
.menu{
    width:1280px;
    height:120px;
}
a{
    text-decoration: none;
    color: #000;
}

.but1{
    display: inline-block;
    margin-left: 45px;
    margin-top: 65px;
    border: 1px solid black;
    padding: 15px 20px 15px 20px;

}
.but2{
    display: inline-block;
    padding: 15px 20px 15px 20px;
    text-decoration: none;
}
.but3{
    display: inline-block;
    padding: 15px 20px 15px 20px;
}
.but4{
    display: inline-block;
    padding: 15px 20px 15px 20px;
}
a.rollover1 {
    background: url(images/1.jpg); /* Путь к файлу с исходным рисунком  */
    background-size: cover;
    display: block; /*  Рисунок как блочный элемент */
    width: 370px; /* Ширина рисунка */
    height: 266px; /*  Высота рисунка */
    float:left;
    margin-top: 40px;
    margin-left: 45px;
    border-radius: 10px;
}
a.rollover1:hover {
    background:url(images/1.jpg);
    background-size: cover;
    width: 370px; /* Ширина рисунка */
    height: 266px; /*  Высота рисунка */
    float:left;
    margin-top: 40px;
    margin-left: 45px;
    border-radius: 10px;
    filter: alpha(Opacity=50);
    opacity: 0.5;
}
.text{
    text-align: center;
    color:white;
    padding-left: 0px;
    padding-top: 200px;
}
a.rollover2 {
    background: url(images/2.jpg); /* Путь к файлу с исходным рисунком  */
    background-size: cover;
    display: block; /*  Рисунок как блочный элемент */
    width: 370px; /* Ширина рисунка */
    height: 266px; /*  Высота рисунка */
    float:left;
    margin-top: 40px;
    margin-left: 40px;
    border-radius: 10px;
}
a.rollover2:hover {
    background:url(images/2.jpg);
    background-size: cover;
    width: 370px; /* Ширина рисунка */
    height: 266px; /*  Высота рисунка */
    float:left;
    margin-top: 40px;
    margin-left: 40px;
    border-radius: 10px;
    filter: alpha(Opacity=50);
    opacity: 0.5;
}
a.rollover3 {
    background: url(images/3.jpg); /* Путь к файлу с исходным рисунком  */
    background-size: cover;
    display: block; /*  Рисунок как блочный элемент */
    width: 370px; /* Ширина рисунка */
    height: 266px; /*  Высота рисунка */
    float:left;
    margin-top: 40px;
    margin-left: 40px;
    border-radius: 10px;
}
a.rollover3:hover {
    background:url(images/3.jpg);
    background-size: cover;
    width: 370px; /* Ширина рисунка */
    height: 266px; /*  Высота рисунка */
    float:left;
    margin-top: 40px;
    margin-left: 40px;
    border-radius: 10px;
    filter: alpha(Opacity=50);
    opacity: 0.5;
}
a.rollover4 {
    background: url(images/4.jpg); /* Путь к файлу с исходным рисунком  */
    background-size: cover;
    display: block; /*  Рисунок как блочный элемент */
    width: 370px; /* Ширина рисунка */
    height: 266px; /*  Высота рисунка */
    float:left;
    margin-top: 40px;
    margin-left: 45px;
    border-radius: 10px;
}
a.rollover4:hover {
    background:url(images/4.jpg);
    background-size: cover;
    width: 370px; /* Ширина рисунка */
    height: 266px; /*  Высота рисунка */
    float:left;
    margin-top: 40px;
    margin-left: 45px;
    border-radius: 10px;
    filter: alpha(Opacity=50);
    opacity: 0.5;
}
a.rollover5 {
    background: url(images/5.jpg); /* Путь к файлу с исходным рисунком  */
    background-size: cover;
    display: block; /*  Рисунок как блочный элемент */
    width: 370px; /* Ширина рисунка */
    height: 266px; /*  Высота рисунка */
    float:left;
    margin-top: 40px;
    margin-left: 40px;
    border-radius: 10px;
}
a.rollover5:hover {
    background:url(images/5.jpg);
    background-size: cover;
    width: 370px; /* Ширина рисунка */
    height: 266px; /*  Высота рисунка */
    float:left;
    margin-top: 40px;
    margin-left: 40px;
    border-radius: 10px;
    filter: alpha(Opacity=50);
    opacity: 0.5;
}
a.rollover6 {
    background: url(images/6.jpg); /* Путь к файлу с исходным рисунком  */
    background-size: cover;
    display: block; /*  Рисунок как блочный элемент */
    width: 370px; /* Ширина рисунка */
    height: 266px; /*  Высота рисунка */
    float:left;
    margin-top: 40px;
    margin-left: 40px;
    border-radius: 10px;
}
a.rollover6:hover {
    background: url(images/6.jpg);
    background-size: cover;
    width: 370px; /* Ширина рисунка */
    height: 266px; /*  Высота рисунка */
    float: left;
    margin-top: 40px;
    margin-left: 40px;
    border-radius: 10px;
    filter: alpha(Opacity=50);
    opacity: 0.5;
}
a.rollover7 {
    background: url(images/7.jpg); /* Путь к файлу с исходным рисунком  */
    background-size: cover;
    display: block; /*  Рисунок как блочный элемент */
    width: 370px; /* Ширина рисунка */
    height: 266px; /*  Высота рисунка */
    float:left;
    margin-top: 40px;
    margin-left: 45px;
    border-radius: 10px;
}
a.rollover7:hover {
    background: url(images/7.jpg);
    background-size: cover;
    width: 370px; /* Ширина рисунка */
    height: 266px; /*  Высота рисунка */
    float: left;
    margin-top: 40px;
    margin-left: 45px;
    border-radius: 10px;
    filter: alpha(Opacity=50);
    opacity: 0.5;
}
a.rollover8 {
    background: url(images/8.jpg); /* Путь к файлу с исходным рисунком  */
    background-size: cover;
    display: block; /*  Рисунок как блочный элемент */
    width: 370px; /* Ширина рисунка */
    height: 266px; /*  Высота рисунка */
    float:left;
    margin-top: 40px;
    margin-left: 40px;
    border-radius: 10px;
}
a.rollover8:hover {
    background: url(images/8.jpg);
    background-size: cover;
    width: 370px; /* Ширина рисунка */
    height: 266px; /*  Высота рисунка */
    float: left;
    margin-top: 40px;
    margin-left: 40px;
    border-radius: 10px;
    filter: alpha(Opacity=50);
    opacity: 0.5;
}
a.rollover9 {
    background: url(images/9.jpg); /* Путь к файлу с исходным рисунком  */
    background-size: cover;
    display: block; /*  Рисунок как блочный элемент */
    width: 370px; /* Ширина рисунка */
    height: 266px; /*  Высота рисунка */
    float:left;
    margin-top: 40px;
    margin-left: 40px;
    border-radius: 10px;
}
a.rollover9:hover {
    background: url(images/9.jpg);
    background-size: cover;
    width: 370px; /* Ширина рисунка */
    height: 266px; /*  Высота рисунка */
    float: left;
    margin-top: 40px;
    margin-left: 40px;
    border-radius: 10px;
    filter: alpha(Opacity=50);
    opacity: 0.5;
}
.footer{
    background: #fff;
    background-size: cover;
    width: 1280px; /* Ширина рисунка */
    height: 40px; /*  Высота рисунка */
    float: left;
    margin-left: 40px;
}

